input {
  margin: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  
}
div {
  display: inline-block;
  margin: 5px;
  background-color: rgba(163, 173, 151, 0.897);
  color: white;
  border-radius : 5px ;
}

#contener {
  background-color: white;
}

#pagebody {

  background-color: #eee;
  
text-align: center;
  
}

button {
  margin: 3px;
  background-color: rgba(19, 29, 28, 0.733); /* Blue background */
  color: white;
  border: none;
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 8px;
  
}
button:hover {
background-color: RoyalBlue;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.4); ;
}
